<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.chuparch0pper.android.xposed.pogoiv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Shows pokémon IVs and more before catching them" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver">
            <intent-filter>
                <action android:name="SHOW_NOTIFICATION" />
                <action android:name="SCROLL_DOWN" />
                <action android:name="SCROLL_UP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>